<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 设置延迟加载开关，默认false（立即加载） -->
        <setting name="lazyLoadingEnabled" value="false"/>

        <!-- 覆盖延迟加载不生效的方法 -->
        <setting name="lazyLoadTriggerMethods" value="" />

        <!-- 开启MyBatis二级缓存配置，默认已经开启，可以省略 -->
        <setting name="cacheEnabled" value="true" />

        <!-- 设置驼峰命名规则 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
</configuration>